@model IEnumerable<NavieraOceanoAzul.Models.Habitacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UbicacionHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdbarcoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdbarcoNavigation.Idbarco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idhabitacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idhabitacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idhabitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
